*{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,200;1,200&display=swap');
.container{
    width: 70%;
    margin: auto;
    
}
.leftContent{
    width: 60%;
}
.rightContent{
    width: 40%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 60px 0px;
}
ul{
    list-style-type: none;
    display: flex;
    text-align: center;
}
ul li{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
   
}
.navbar ul li a {
    color: #151439;
    opacity: 30%;

}
a{
    text-decoration: none;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    color: #1E0E62;
}
.content h1{
    color: #1E0E62;
    font-size: 58px;
    margin-bottom: 20px;
    margin-top: 100px;
}
.content p{
    color: #15143966;
    opacity: 70%;
    width: 400px;
    height: 80px;
    display: inline-block;
    font-size: 19px;
}
.buttons button{
    color: white;
    border: none;
}
.getStarted{
    background: #25DAC5;
    padding: 10px 25px;
    border-radius: 100px;
    font-family: DM Sans;
font-size: 16px;
font-style: normal;

line-height: 26px;
}
.learnMore{
    background: white !important;
    padding: 10px 25px;
    border-radius: 25px;
    font-family: DM Sans;
font-size: 16px;
font-style: normal;
line-height: 26px;
color: #1E0E62 !important;
margin-left: 10px;
border: 1px solid #EBEAED !important;
font-weight: 600;
}
.buttons{
    margin: 35px 0px;
}
.contentSpan{
    opacity: 60%;
    color: #151439;
}
.container1{
    width: 82%;
    margin: auto;
}
.relative{
    height: 550px;
    width: 4%;
    flex-direction: column;
    position: relative;
    margin: 20px 0px;
}
.circle{
    width: 40px;
height: 40px;
background: #EBEAED;
border-radius: 50px;
justify-content: center;
align-items: center;
display: flex;
position: absolute;
}
.circle2{
    width: 40px;
height: 40px;
background: #EBEAED;
border-radius: 50px;
justify-content: center;
align-items: center;
display: flex;
position: absolute;
top: 160px;
}
.circle3{
    width: 40px;
height: 40px;
background: #EBEAED;
border-radius: 50px;
justify-content: center;
align-items: center;
display: flex;
position: absolute;
top: 520px;
}
.stick{
    width: 1px;
    height: 220px;
    background: #EBEAED;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    left:20px;
    top: 40px;
}
.stick1{
    width: 1px;
    height: 280px;
    background: #EBEAED;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    left:20px;
    top: 260px;
}
.container1 h2{
    color: #1E0E62;
    font-size: 40px;
    font-weight: 700;
}
.textContent{
    width: 96%;
    margin: 25px 20px;
}
.textContent span{
    font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-top: 15px;
display: block;
color: #151439;
width: 550px;
display: inline-block;
opacity: 40%;
}
.textContent h3{
    color: #1E0E62;
}
.textContent h4{
    font-size: 18px;
    color: #1E0E62;
    margin-top: 50px;
}
.content1{
    margin: 50px 0px 10px 0px;
}
.textStyle2 span{
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
  
}
.textStyle2{
    margin-left: 20px;
    width: 50%;
}
.textStyle3{
    margin: 55px 0px 35px 0px;
}
.container1 p{
    color: #151439;
    font-family: DM Sans;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 32px;
width: 330px;
opacity: 40%;
}

.left{
    width: 50%;
}
.right{
    width: 50%;
    position: relative;
}
.wrapperImg2 , .wrapperImg3{
    position: absolute;
}
.wrapperImg3{
    top: -50px ;
    right: 10px;
    z-index: -1;
}
.wrapperImg2 img{
    width: 100%;
    height: 660px;
}
.wrapperImg3 img{
    width: 100%;
    height: 650px;
}
.circle span{
    font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 144.444% */
color: #151439; 
opacity: 40%; 
}
.circle2 span{
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 144.444% */
    color: #151439; 
    opacity: 40%; 
}


.circle3 span{
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 144.444% */
    color: #151439; 
    opacity: 40%; 
}